%nav.navbar.navbar-default.navbar-static-top role="navigation" style="margin-bottom: 0"
    %div.navbar-header
        %button.navbar-toggle type="button" data-toggle="collapse" data-target=".navbar-collapse"
            %span.sr-only << Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar

        %a.navbar-brand href="/" << Astral Contest 0.1


    -if current_user.is_authenticated:
        %ul.nav.navbar-top-links.navbar-right
            %li.dropdown
                %a.dropdown-toggle data-toggle="dropdown" href="#"
                    %i.fa.fa-tasks.fa-fw
                    &nbsp;&nbsp;Задания&nbsp;&nbsp;
                    %i.fa.fa-caret-down

                %ul.dropdown-menu.dropdown-tasks
                    -for test in current_user.tests:
                        %li
                            %a href="/tests/{{test.id}}"
                                %div
                                    %p
                                        %strong << {{ test.contest.name }}

                                    %div.progress.progress-striped.active
                                        %div.progress-bar.progress-bar-success role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%"
                                            %span.sr-only << 40% Complete (success)
                        %li.divider

                    %li
                        %a.text-center href="#"
                            %strong << Все задания


            %li.dropdown
                %a.dropdown-toggle data-toggle="dropdown" href="#"
                    %i.fa.fa-envelope.fa-fw
                    &nbsp;&nbsp;Тестирования&nbsp;&nbsp;
                    %i.fa.fa-caret-down

                %ul.dropdown-menu.dropdown-messages
                    %li
                        %a href="#"
                            %div
                                %strong << John Smith
                                %span.pull-right.text-muted
                                    %em << Yesterday

                            %div << Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...

                    %li.divider
                    %li
                        %a href="#"
                            %div
                                %strong << John Smith
                                %span.pull-right.text-muted
                                    %em << Yesterday

                            %div << Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...

                    %li.divider
                    %li
                        %a href="#"
                            %div
                                %strong << John Smith
                                %span.pull-right.text-muted
                                    %em << Yesterday

                            %div << Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...

                    %li.divider
                    %li
                        %a href="#"
                            %div
                                %strong << John Smith
                                %span.pull-right.text-muted
                                    %em << Yesterday

                            %div << Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...


            %li.dropdown
                %a.dropdown-toggle data-toggle="dropdown" href="#"
                    %i.fa.fa-gear
                    &nbsp;&nbsp;Админка&nbsp;&nbsp;
                    %i.fa.fa-caret-down
                %ul.dropdown-menu.dropdown-alerts
                    %li
                        %a href="/invites"
                            %div
                                %i.fa.fa-envelope.fa-fw
                                Пригласить

                    %li.divider
                     %li
                        %a href="/contests"
                            %div
                                %i.fa.fa-question.fa-fw
                                Тестирования

                    %li.divider
                    %li
                        %a.text-center href="#"
                            %strong << Администрирование



            %li.dropdown
                %a.dropdown-toggle data-toggle="dropdown" href="#"
                    %i.fa.fa-user.fa-fw
                    &nbsp;&nbsp;{{ current_user.email }}&nbsp;&nbsp;
                    %i.fa.fa-caret-down

                %ul.dropdown-menu.dropdown-user
                    %li
                        %a href="#"
                            %i.fa.fa-user.fa-fw
                            Профиль
                    %li.divider
                    %li
                        %a href="/sessions/delete"
                            %i.fa.fa-sign-out.fa-fw
                            Выйти
    -else:
        %ul.nav.navbar-top-links.navbar-right
            %li.dropdown
                %a.dropdown-toggle href="/sessions/new"
                    %i.fa.fa-sign-in
                    &nbsp;&nbsp;Авторизация&nbsp;&nbsp;
