-if get_flashed_messages(category_filter=["danger"]):
    %div.alert.alert-danger.alert-dismissable
        %button type="button" class="close" data-dismiss="alert" aria-hidden="true" << ×
        -for alert in get_flashed_messages(category_filter=["danger"]):
            = alert
            %br

-if get_flashed_messages(category_filter=["success"]):
    %div.alert.alert-success.alert-dismissable
        %button type="button" class="close" data-dismiss="alert" aria-hidden="true" << ×
        -for alert in get_flashed_messages(category_filter=["success"]):
            = alert
            %br

-if get_flashed_messages(category_filter=["info"]):
    %div.alert.alert-success.alert-dismissable
        %button type="button" class="close" data-dismiss="alert" aria-hidden="true" << ×
        -for alert in get_flashed_messages(category_filter=["info"]):
            = alert
            %br

-if get_flashed_messages(category_filter=["warning"]):
    %div.alert.alert-success.alert-dismissable
        %button type="button" class="close" data-dismiss="alert" aria-hidden="true" << ×
        -for alert in get_flashed_messages(category_filter=["warning"]):
            = alert
            %br
