%nav.navbar.navbar-default.navbar-static-top role="navigation" style="margin-bottom: 0"
    %div.navbar-header
        %button.navbar-toggle type="button" data-toggle="collapse" data-target=".navbar-collapse"
            %span.sr-only << Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar

        %a.navbar-brand href="/" << Pages SB Admin v2.0

    %ul.nav.navbar-top-links.navbar-right
        %li.dropdown
            %a.dropdown-toggle data-toggle="dropdown" href="#"
                %i.fa.fa-envelope.fa-fw
                %i.fa.fa-caret-down

            %ul.dropdown-menu.dropdown-messages
                %li
                    %a href="#"
                        %div
                            %strong << John Smith
                            %span.pull-right.text-muted
                                %em << Yesterday

                        %div << Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...

                %li.divider
                %li
                    %a href="#"
                        %div
                            %strong << John Smith
                            %span.pull-right.text-muted
                                %em << Yesterday

                        %div << Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...

                %li.divider
                %li
                    %a href="#"
                        %div
                            %strong << John Smith
                            %span.pull-right.text-muted
                                %em << Yesterday

                        %div << Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...

                %li.divider
                %li
                    %a href="#"
                        %div
                            %strong << John Smith
                            %span.pull-right.text-muted
                                %em << Yesterday

                        %div << Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...


        %li.dropdown
            %a.dropdown-toggle data-toggle="dropdown" href="#"
                %i.fa.fa-tasks.fa-fw
                %i.fa.fa-caret-down

            %ul.dropdown-menu.dropdown-tasks
                %li
                    %a href="#">
                        %div
                            %p
                                %strong << Task 1
                                %span.pull-right.text-muted << 40% Complete

                            %div.progress.progress-striped.active
                                %div.progress-bar.progress-bar-success role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%"
                                    %span.sr-only << 40% Complete (success)
                %li.divider
                %li
                    %a href="#"
                        %div
                            %p
                                %strong << Task 2
                                %span.pull-right.text-muted << 20% Complete

                            %div.progress.progress-striped.active
                                %div.progress-bar.progress-bar-info role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%
                                    %span.sr-only << 20% Complete

                %li.divider
                %li
                    %a href="#"
                        %div
                            %p
                                %strong << Task 3
                                %span.pull-right.text-muted << 60% Complete

                            %div.progress.progress-striped.active
                                %div.progress-bar.progress-bar-warning role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                    %span.sr-only << 60% Complete (warning)
                %li.divider
                %li
                    %a href="#"
                        %div
                            %p
                                %strong << Task 4
                                %span.pull-right.text-muted << 80% Complete

                            %div.progress.progress-striped.active
                                %div.progress-bar.progress-bar-danger role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%"
                                    %span.sr-only << 80% Complete (danger)
                %li.divider
                %li
                    %a.text-center href="#"
                        %strong << See All Tasks
                        %i.fa.fa-angle-right
        %li.dropdown
            %a.dropdown-toggle data-toggle="dropdown" href="#"
                %i.fa.fa-bell.fa-fw
                %i.fa.fa-caret-down
            %ul.dropdown-menu.dropdown-alerts
                %li
                    %a href="#"
                        %div
                            %i.fa.fa-comment.fa-fw
                            New Comment
                            %span.pull-right.text-muted.small << 4 minutes ago
                %li.divider
                %li
                    %a href="#"
                        %div
                            %i.fa.fa-twitter.fa-fw
                            3 New Followers
                            %span.pull-right.text-muted.small << 12 minutes ago
                %li.divider
                %li
                    %a href="#"
                        %div
                            %i.fa.fa-envelope.fa-fw
                            Message Sent
                            %span.pull-right.text-muted.small 4 minutes ago
                %li.divider
                %li
                    %a href="#"
                        %div
                            %i.fa.fa-tasks.fa-fw
                            New Task
                            %span.pull-right.text-muted.small << 4 minutes ago
                %li.divider
                %li
                    %a href="#"
                        %div
                            %i.fa.fa-upload.fa-fw
                            Server Rebooted
                            %span.pull-right.text-muted.small << 4 minutes ago</span>
                %li.divider
                %li
                    %a.text-center href="#"
                        %strong << See All Alerts
                        %i.fa.fa-angle-right
        %li.dropdown
            %a.dropdown-toggle data-toggle="dropdown" href="#"
                %i.fa.fa-user.fa-fw
                %i.fa.fa-caret-down

            %ul.dropdown-menu.dropdown-user
                %li
                    %a href="#"
                        %i.fa.fa-user.fa-fw
                        User Profile
                %li
                    %a href="#"
                        %i.fa.fa-gear.fa-fw
                        Settings
                %li.divider
                %li
                    %a href="login.html"
                        %i.fa.fa-sign-out.fa-fw
                        Logout

    %div.navbar-default.sidebar role="navigation"
        %div.sidebar-nav.navbar-collapse
            %ul.nav#side-menu
                %li.sidebar-search
                    %div.input-group.custom-search-form
                        %input.form-control type="text" placeholder="Search..."
                        %span.input-group-btn
                            %button.btn.btn-default type="button"
                                %i.fa.fa-search
                %li
                    %a href="/pages/dashboard"
                        %i.fa.fa-dashboard.fa-fw
                        Dashboard
                %li
                    %a href="/pages/flot"
                        %i.fa.fa-bar-chart-o.fa-fw
                        Charts

                %li
                    %a href="/pages/tables"
                        %i.fa.fa-table.fa-fw
                        Tables
                %li
                    %a href="/pages/forms"
                        %i.fa.fa-edit.fa-fw
                        Forms
                %li
                    %a href="#"
                        %i.fa.fa-wrench.fa-fw
                        UI Elements
                        %span.fa.arrow
                    %ul.nav.nav-second-level
                        %li
                            %a href="/pages/panels-wells" << Panels and Wells
                        %li
                            %a href="/pages/buttons" << Buttons
                        %li
                            %a href="/pages/notifications" << Notifications
                        %li
                            %a href="/pages/typography" << Typography
                        %li
                            %a href="/pages/icons" << Icons
                        %li
                            %a href="/pages/grid.html" << Grid

                %li
                    %a href="#"
                        %i.fa.fa-sitemap.fa-fw
                        Multi-Level Dropdown
                        %span.fa.arrow

                    %ul.nav.nav-second-level
                        %li
                            %a href="#" << Second Level Item
                        %li
                            %a href="#" << Second Level Item
                        %li
                            %a href="#"
                                Third Level
                                %span.fa.arrow
                            %ul.nav.nav-third-level
                                %li
                                    %a href="#" << Third Level Item
                                %li
                                    %a href="#" << Third Level Item
                                %li
                                    %a href="#" << Third Level Item
                                %li
                                    %a href="#" << Third Level Item

                %li.active
                    %a href="#"
                        %i.fa.fa-files-o.fa-fw
                        Sample Pages
                        %span.fa.arrow

                    %ul.nav.nav-second-level
                        %li
                            %a.active href="/pages/blank" << Blank Page

                        %li
                            %a href="/pages/login" << Login Page
