<!DOCTYPE html>
%html lang="en"

%head
    %title << Astral Contest - Сервис тестирования

    %link href="/static/stylesheets/bootstrap.min.css" rel="stylesheet"
    %link href="/static/stylesheets/metisMenu.min.css" rel="stylesheet"
    %link href="/static/stylesheets/sb-admin-2.css" rel="stylesheet"
    %link href="/static/stylesheets/font-awesome.min.css" rel="stylesheet" type="text/css"

%body
    %div#wrapper
        {% include 'layouts/_navigation.haml' %}
        %div#page-wrapper
            %div.container-fluid
                {% block body %}
                {% endblock %}


    <script src="/static/javascripts/jquery.min.js"></script>
    <script src="/static/javascripts/bootstrap.min.js"></script>
    <script src="/static/javascripts/metisMenu.min.js"></script>
    <script src="/static/javascripts/sb-admin-2.js"></script>
    <script src="/static/javascripts/raphael.min.js"></script>
    <script src="/static/javascripts/morris.min.js"></script>
    <script src="/static/javascripts/morris-data.js"></script>

