%html
    %head
        %link href="/static/stylesheets/bootstrap.min.css" rel="stylesheet"
        %link href="/static/stylesheets/sb-admin.css" rel="stylesheet"
        %link href="/static/stylesheets/plugins/morris.css" rel="stylesheet"
        %link href="/static/stylesheets/font-awesome.min.css" rel="stylesheet" type="text/css"
        %link href="/static/stylesheets/admins.css" rel="stylesheet" type="text/css"

    %body
        %div#page-wrapper
            %div.container-fluid
                {% block body %}
                {% endblock %}
        %script src="/static/javascripts/jquery-1.11.0.js"
        %script src="/static/javascripts/bootstrap.min.js"
        {# %script src="/static/javascripts/plugins/morris/raphael.min.js" #}
        {# %script src="/static/javascripts/plugins/morris/morris.min.js" #}
        {# %script src="/static/javascripts/plugins/morris/morris-data.js" #}
