{% extends "layouts/application.haml" %}
{% block body %}
    %form action="/invites/create" method="POST"
        %div.row
            %div.col-lg-12
                %h1.page-header << Пригласить в тестирование

        %div.row
            %div.col-lg-6
                %div.form-group
                    %label class="control-label" for="email" << Введите E-mail
                    %input class="form-control" id="email" name="email" type="text" value=""
            %div.col-lg-6
                %label << Список тестов
                %select.form-control id="contest_id" name="contest_id"
                    -for contest in contests:

                        %option value = "{{contest.id}}"
                            = contest.name
        %div.row
            %div.col-lg-4
                %br
                %input.btn.btn-primary name="commit" type="submit" value="Отправить"
            %div.col-lg-8





{% endblock %}
