{% extends "layouts/application.haml" %}
{% block body %}
        %div.row
            %div.col-lg-11
                %h2.page-header << {{ contest.name }}
            %div.col-lg-1
                %br
                %br
                %a.btn.btn-outline.btn-primary href="/contests/{{ contest.id }}" << Назад
        %div.row
            %div.col-lg-12
                Раздел находиться в разработке

{% endblock %}
