{% extends "layouts/application.haml" %}
{% block body %}

    %div.row
        %div.col-lg-12
            %h2.page-header << Тестирования

    %table.table
        %thead
            %tr
                %th << #
                %th << Название
                %th
        %tbody
            -for contest in contests:
                %tr class="{{ h_row_class(contest) }}"
                    %td << {{ contest.id }}
                    %td << {{ contest.name }}
                    %td style="width: 100px"
                        %a.btn.btn-outline.btn-primary.btn-xs href="/contests/{{ contest.id }}" << Подробнее
                    %td style="width: 100px"
                        %a.btn.btn-outline.btn-warning.btn-xs href="/contests/{{ contest.id }}/edit" << Редактировать

    %div.row
        %div.col-lg-2.col-lg-offset-10
            %table.table
                %tr.success
                    %td << Публичные
                %tr.info
                    %td << Скрытые
                %tr.danger
                    %td << Не готовы

{% endblock %}
