{% extends "layouts/application.haml" %}
{% block body %}

    %div.row
        %div.col-lg-10
            %h2.page-header << {{ contest.name }}

        %div.col-lg-2
            %br
            %br
            %a.btn.btn-outline.btn-warning href="/contests/{{ contest.id }}/edit" << Редактировать

    %div.row
        %div.col-lg-8

            -for index, ids in contest.problem_list:
                %div.panel.panel-default
                    %a.collapsed data-toggle="collapse" data-parent="#accordion" href="#collapse{{ index }}"
                        %div.panel-heading
                            %h4.panel-title
                                Группа задач #{{ index}}

                    %div.panel-collapse.collapse id="collapse{{ index }}"  aria-expanded="false" style="height: 0px;"
                        %div.panel-body
                            %table.table.table-striped
                                -for problem in h_problems(ids)
                                    %tr
                                        %td << #{{ problem.id }}
                                        %td << {{ problem.name}}

        %div.col-lg-4
            %div.panel.panel-default
                %div.panel-heading
                    %i.fa.fa-bell.fa-fw
                    Общие сведения
                %div.panel-body
                    %table.table.table-striped
                        %tr
                            %td
                                %b << Статус
                            %td << {{ contest.raw_status()}}
                        %tr
                            %td
                                %b << Создано тестов
                            %td << 0
                        %tr
                            %td
                                %b << Начато тестов
                            %td << 0
                        %tr
                            %td
                                %b << Пройдено тестов
                            %td << 0


{% endblock %}
