;<!DOCTYPE html>
;%html lang="en"
;
;%head
;    %title << SB Admin 2 - Bootstrap Admin Theme
;
;    %link href="/static/stylesheets/bootstrap.min.css" rel="stylesheet"
;    %link href="/static/stylesheets/metisMenu.min.css" rel="stylesheet"
;    %link href="/static/stylesheets/sb-admin-2.css" rel="stylesheet"
;    %link href="/static/stylesheets/font-awesome.min.css" rel="stylesheet" type="text/css"
;
;<body>
;
;    <div id="wrapper">
;
;        <!-- Navigation -->
;        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
;            <div class="navbar-header">
;                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
;                    <span class="sr-only">Toggle navigation</span>
;                    <span class="icon-bar"></span>
;                    <span class="icon-bar"></span>
;                    <span class="icon-bar"></span>
;                </button>
;                <a class="navbar-brand" href="index.html">SB Admin v2.0</a>
;            </div>
;            <!-- /.navbar-header -->
;
;            <ul class="nav navbar-top-links navbar-right">
;                <li class="dropdown">
;                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
;                        <i class="fa fa-envelope fa-fw"></i> <i class="fa fa-caret-down"></i>
;                    </a>
;                    <ul class="dropdown-menu dropdown-messages">
;                        <li>
;                            <a href="#">
;                                <div>
;                                    <strong>John Smith</strong>
;                                    <span class="pull-right text-muted">
;                                        <em>Yesterday</em>
;                                    </span>
;                                </div>
;                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
;                            </a>
;                        </li>
;                        <li class="divider"></li>
;                        <li>
;                            <a href="#">
;                                <div>
;                                    <strong>John Smith</strong>
;                                    <span class="pull-right text-muted">
;                                        <em>Yesterday</em>
;                                    </span>
;                                </div>
;                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
;                            </a>
;                        </li>
;                        <li class="divider"></li>
;                        <li>
;                            <a href="#">
;                                <div>
;                                    <strong>John Smith</strong>
;                                    <span class="pull-right text-muted">
;                                        <em>Yesterday</em>
;                                    </span>
;                                </div>
;                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
;                            </a>
;                        </li>
;                        <li class="divider"></li>
;                        <li>
;                            <a class="text-center" href="#">
;                                <strong>Read All Messages</strong>
;                                <i class="fa fa-angle-right"></i>
;                            </a>
;                        </li>
;                    </ul>
;                    <!-- /.dropdown-messages -->
;                </li>
;                <!-- /.dropdown -->
;                <li class="dropdown">
;                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
;                        <i class="fa fa-tasks fa-fw"></i> <i class="fa fa-caret-down"></i>
;                    </a>
;                    <ul class="dropdown-menu dropdown-tasks">
;                        <li>
;                            <a href="#">
;                                <div>
;                                    <p>
;                                        <strong>Task 1</strong>
;                                        <span class="pull-right text-muted">40% Complete</span>
;                                    </p>
;                                    <div class="progress progress-striped active">
                                        ;<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
;                                            <span class="sr-only">40% Complete (success)</span>
;                                        </div>
;                                    </div>
;                                </div>
;                            </a>
;                        </li>
;                        <li class="divider"></li>
;                        <li>
;                            <a href="#">
;                                <div>
;                                    <p>
;                                        <strong>Task 2</strong>
;                                        <span class="pull-right text-muted">20% Complete</span>
;                                    </p>
;                                    <div class="progress progress-striped active">
                                        ;<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
;                                            <span class="sr-only">20% Complete</span>
;                                        </div>
;                                    </div>
;                                </div>
;                            </a>
;                        </li>
;                        <li class="divider"></li>
;                        <li>
;                            <a href="#">
;                                <div>
;                                    <p>
;                                        <strong>Task 3</strong>
;                                        <span class="pull-right text-muted">60% Complete</span>
;                                    </p>
;                                    <div class="progress progress-striped active">
                                        ;<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
;                                            <span class="sr-only">60% Complete (warning)</span>
;                                        </div>
;                                    </div>
;                                </div>
;                            </a>
;                        </li>
;                        <li class="divider"></li>
;                        <li>
;                            <a href="#">
;                                <div>
;                                    <p>
;                                        <strong>Task 4</strong>
;                                        <span class="pull-right text-muted">80% Complete</span>
;                                    </p>
;                                    <div class="progress progress-striped active">
                                        ;<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
;                                            <span class="sr-only">80% Complete (danger)</span>
;                                        </div>
;                                    </div>
;                                </div>
;                            </a>
;                        </li>
;                        <li class="divider"></li>
;                        <li>
;                            <a class="text-center" href="#">
;                                <strong>See All Tasks</strong>
;                                <i class="fa fa-angle-right"></i>
;                            </a>
;                        </li>
;                    </ul>
;                    <!-- /.dropdown-tasks -->
;                </li>
;                <!-- /.dropdown -->
;                <li class="dropdown">
;                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
;                        <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
;                    </a>
;                    <ul class="dropdown-menu dropdown-alerts">
;                        <li>
;                            <a href="#">
;                                <div>
;                                    <i class="fa fa-comment fa-fw"></i> New Comment
;                                    <span class="pull-right text-muted small">4 minutes ago</span>
;                                </div>
;                            </a>
;                        </li>
;                        <li class="divider"></li>
;                        <li>
;                            <a href="#">
;                                <div>
;                                    <i class="fa fa-twitter fa-fw"></i> 3 New Followers
;                                    <span class="pull-right text-muted small">12 minutes ago</span>
;                                </div>
;                            </a>
;                        </li>
;                        <li class="divider"></li>
;                        <li>
;                            <a href="#">
;                                <div>
;                                    <i class="fa fa-envelope fa-fw"></i> Message Sent
;                                    <span class="pull-right text-muted small">4 minutes ago</span>
;                                </div>
;                            </a>
;                        </li>
;                        <li class="divider"></li>
;                        <li>
;                            <a href="#">
;                                <div>
;                                    <i class="fa fa-tasks fa-fw"></i> New Task
;                                    <span class="pull-right text-muted small">4 minutes ago</span>
;                                </div>
;                            </a>
;                        </li>
;                        <li class="divider"></li>
;                        <li>
;                            <a href="#">
;                                <div>
;                                    <i class="fa fa-upload fa-fw"></i> Server Rebooted
;                                    <span class="pull-right text-muted small">4 minutes ago</span>
;                                </div>
;                            </a>
;                        </li>
;                        <li class="divider"></li>
;                        <li>
;                            <a class="text-center" href="#">
;                                <strong>See All Alerts</strong>
;                                <i class="fa fa-angle-right"></i>
;                            </a>
;                        </li>
;                    </ul>
;                    <!-- /.dropdown-alerts -->
;                </li>
;                <!-- /.dropdown -->
;                <li class="dropdown">
;                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
;                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
;                    </a>
;                    <ul class="dropdown-menu dropdown-user">
;                        <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
;                        </li>
;                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
;                        </li>
;                        <li class="divider"></li>
;                        <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
;                        </li>
;                    </ul>
;                    <!-- /.dropdown-user -->
;                </li>
;                <!-- /.dropdown -->
;            </ul>
;            <!-- /.navbar-top-links -->


;    <div class="navbar-default sidebar" role="navigation">
;        <div class="sidebar-nav navbar-collapse">
;            <ul class="nav" id="side-menu">
;                <li class="sidebar-search">
;                    <div class="input-group custom-search-form">
;                        <input type="text" class="form-control" placeholder="Search...">
;                        <span class="input-group-btn">
;                        <button class="btn btn-default" type="button">
;                            <i class="fa fa-search"></i>
;                        </button>
;                    </span>
;                    </div>
;                    <!-- /input-group -->
;                </li>
;                <li>
;                    <a href="index.html"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
;                </li>
;                <li>
;                    <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Charts<span class="fa arrow"></span></a>
;                    <ul class="nav nav-second-level">
;                        <li>
;                            <a href="flot.html">Flot Charts</a>
;                        </li>
;                        <li>
;                            <a href="morris.html">Morris.js Charts</a>
;                        </li>
;                    </ul>
;                    <!-- /.nav-second-level -->
;                </li>
;                <li>
;                    <a href="tables.html"><i class="fa fa-table fa-fw"></i> Tables</a>
;                </li>
;                <li>
;                    <a href="forms.html"><i class="fa fa-edit fa-fw"></i> Forms</a>
;                </li>
;                <li>
;                    <a href="#"><i class="fa fa-wrench fa-fw"></i> UI Elements<span class="fa arrow"></span></a>
;                    <ul class="nav nav-second-level">
;                        <li>
;                            <a href="panels-wells.html">Panels and Wells</a>
;                        </li>
;                        <li>
;                            <a href="buttons.html">Buttons</a>
;                        </li>
;                        <li>
;                            <a href="notifications.html">Notifications</a>
;                        </li>
;                        <li>
;                            <a href="typography.html">Typography</a>
;                        </li>
;                        <li>
;                            <a href="icons.html"> Icons</a>
;                        </li>
;                        <li>
;                            <a href="grid.html">Grid</a>
;                        </li>
;                    </ul>
;                    <!-- /.nav-second-level -->
;                </li>
;                <li>
;                    <a href="#"><i class="fa fa-sitemap fa-fw"></i> Multi-Level Dropdown<span class="fa arrow"></span></a>
;                    <ul class="nav nav-second-level">
;                        <li>
;                            <a href="#">Second Level Item</a>
;                        </li>
;                        <li>
;                            <a href="#">Second Level Item</a>
;                        </li>
;                        <li>
;                            <a href="#">Third Level <span class="fa arrow"></span></a>
;                            <ul class="nav nav-third-level">
;                                <li>
;                                    <a href="#">Third Level Item</a>
;                                </li>
;                                <li>
;                                    <a href="#">Third Level Item</a>
;                                </li>
;                                <li>
;                                    <a href="#">Third Level Item</a>
;                                </li>
;                                <li>
;                                    <a href="#">Third Level Item</a>
;                                </li>
;                            </ul>
;                            <!-- /.nav-third-level -->
;                        </li>
;                    </ul>
;                    <!-- /.nav-second-level -->
;                </li>
;                <li>
;                    <a href="#"><i class="fa fa-files-o fa-fw"></i> Sample Pages<span class="fa arrow"></span></a>
;                    <ul class="nav nav-second-level">
;                        <li>
;                            <a href="blank.html">Blank Page</a>
;                        </li>
;                        <li>
;                            <a href="login.html">Login Page</a>
;                        </li>
;                    </ul>
;                    <!-- /.nav-second-level -->
;                </li>
;            </ul>
;        </div>
;        <!-- /.sidebar-collapse -->
;    </div>
;    <!-- /.navbar-static-side -->
;</nav>
;<div id="page-wrapper">


{% extends "layouts/pages.haml" %}
{% block body %}

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Tables</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    DataTables Advanced Tables
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>Rendering engine</th>
                                <th>Browser</th>
                                <th>Platform(s)</th>
                                <th>Engine version</th>
                                <th>CSS grade</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="odd gradeX">
                                <td>Trident</td>
                                <td>Internet Explorer 4.0</td>
                                <td>Win 95+</td>
                                <td class="center">4</td>
                                <td class="center">X</td>
                            </tr>
                            <tr class="even gradeC">
                                <td>Trident</td>
                                <td>Internet Explorer 5.0</td>
                                <td>Win 95+</td>
                                <td class="center">5</td>
                                <td class="center">C</td>
                            </tr>
                            <tr class="odd gradeA">
                                <td>Trident</td>
                                <td>Internet Explorer 5.5</td>
                                <td>Win 95+</td>
                                <td class="center">5.5</td>
                                <td class="center">A</td>
                            </tr>
                            <tr class="even gradeA">
                                <td>Trident</td>
                                <td>Internet Explorer 6</td>
                                <td>Win 98+</td>
                                <td class="center">6</td>
                                <td class="center">A</td>
                            </tr>
                            <tr class="odd gradeA">
                                <td>Trident</td>
                                <td>Internet Explorer 7</td>
                                <td>Win XP SP2+</td>
                                <td class="center">7</td>
                                <td class="center">A</td>
                            </tr>
                            <tr class="even gradeA">
                                <td>Trident</td>
                                <td>AOL browser (AOL desktop)</td>
                                <td>Win XP</td>
                                <td class="center">6</td>
                                <td class="center">A</td>
                            </tr>
                            <tr class="gradeA">
                                <td>Gecko</td>
                                <td>Firefox 1.0</td>
                                <td>Win 98+ / OSX.2+</td>
                                <td class="center">1.7</td>
                                <td class="center">A</td>
                            </tr>
                            <tr class="gradeA">
                                <td>Gecko</td>
                                <td>Firefox 1.5</td>
                                <td>Win 98+ / OSX.2+</td>
                                <td class="center">1.8</td>
                                <td class="center">A</td>
                            </tr>
                            <tr class="gradeA">
                                <td>Gecko</td>
                                <td>Firefox 2.0</td>
                                <td>Win 98+ / OSX.2+</td>
                                <td class="center">1.8</td>
                                <td class="center">A</td>
                            </tr>
                            <tr class="gradeA">
                                <td>Gecko</td>
                                <td>Firefox 3.0</td>
                                <td>Win 2k+ / OSX.3+</td>
                                <td class="center">1.9</td>
                                <td class="center">A</td>
                            </tr>
                            <tr class="gradeA">
                                <td>Gecko</td>
                                <td>Camino 1.0</td>
                                <td>OSX.2+</td>
                                <td class="center">1.8</td>
                                <td class="center">A</td>
                            </tr>
                            <tr class="gradeA">
                                <td>Gecko</td>
                                <td>Camino 1.5</td>
                                <td>OSX.3+</td>
                                <td class="center">1.8</td>
                                <td class="center">A</td>
                            </tr>
                            <tr class="gradeA">
                                <td>Gecko</td>
                                <td>Netscape 7.2</td>
                                <td>Win 95+ / Mac OS 8.6-9.2</td>
                                <td class="center">1.7</td>
                                <td class="center">A</td>
                            </tr>
                            <tr class="gradeA">
                                <td>Gecko</td>
                                <td>Netscape Browser 8</td>
                                <td>Win 98SE+</td>
                                <td class="center">1.7</td>
                                <td class="center">A</td>
                            </tr>
                            <tr class="gradeA">
                                <td>Gecko</td>
                                <td>Netscape Navigator 9</td>
                                <td>Win 98+ / OSX.2+</td>
                                <td class="center">1.8</td>
                                <td class="center">A</td>
                            </tr>
                            <tr class="gradeA">
                                <td>Gecko</td>
                                <td>Mozilla 1.0</td>
                                <td>Win 95+ / OSX.1+</td>
                                <td class="center">1</td>
                                <td class="center">A</td>
                            </tr>
                            <tr class="gradeA">
                                <td>Gecko</td>
                                <td>Mozilla 1.1</td>
                                <td>Win 95+ / OSX.1+</td>
                                <td class="center">1.1</td>
                                <td class="center">A</td>
                            </tr>
                            <tr class="gradeA">
                                <td>Gecko</td>
                                <td>Mozilla 1.2</td>
                                <td>Win 95+ / OSX.1+</td>
                                <td class="center">1.2</td>
                                <td class="center">A</td>
                            </tr>
                            <tr class="gradeA">
                                <td>Gecko</td>
                                <td>Mozilla 1.3</td>
                                <td>Win 95+ / OSX.1+</td>
                                <td class="center">1.3</td>
                                <td class="center">A</td>
                            </tr>
                            <tr class="gradeA">
                                <td>Gecko</td>
                                <td>Mozilla 1.4</td>
                                <td>Win 95+ / OSX.1+</td>
                                <td class="center">1.4</td>
                                <td class="center">A</td>
                            </tr>
                            <tr class="gradeA">
                                <td>Gecko</td>
                                <td>Mozilla 1.5</td>
                                <td>Win 95+ / OSX.1+</td>
                                <td class="center">1.5</td>
                                <td class="center">A</td>
                            </tr>
                            <tr class="gradeA">
                                <td>Gecko</td>
                                <td>Mozilla 1.6</td>
                                <td>Win 95+ / OSX.1+</td>
                                <td class="center">1.6</td>
                                <td class="center">A</td>
                            </tr>
                            <tr class="gradeA">
                                <td>Gecko</td>
                                <td>Mozilla 1.7</td>
                                <td>Win 98+ / OSX.1+</td>
                                <td class="center">1.7</td>
                                <td class="center">A</td>
                            </tr>
                            <tr class="gradeA">
                                <td>Gecko</td>
                                <td>Mozilla 1.8</td>
                                <td>Win 98+ / OSX.1+</td>
                                <td class="center">1.8</td>
                                <td class="center">A</td>
                            </tr>
                            <tr class="gradeA">
                                <td>Gecko</td>
                                <td>Seamonkey 1.1</td>
                                <td>Win 98+ / OSX.2+</td>
                                <td class="center">1.8</td>
                                <td class="center">A</td>
                            </tr>
                            <tr class="gradeA">
                                <td>Gecko</td>
                                <td>Epiphany 2.20</td>
                                <td>Gnome</td>
                                <td class="center">1.8</td>
                                <td class="center">A</td>
                            </tr>
                            <tr class="gradeA">
                                <td>Webkit</td>
                                <td>Safari 1.2</td>
                                <td>OSX.3</td>
                                <td class="center">125.5</td>
                                <td class="center">A</td>
                            </tr>
                            <tr class="gradeA">
                                <td>Webkit</td>
                                <td>Safari 1.3</td>
                                <td>OSX.3</td>
                                <td class="center">312.8</td>
                                <td class="center">A</td>
                            </tr>
                            <tr class="gradeA">
                                <td>Webkit</td>
                                <td>Safari 2.0</td>
                                <td>OSX.4+</td>
                                <td class="center">419.3</td>
                                <td class="center">A</td>
                            </tr>
                            <tr class="gradeA">
                                <td>Webkit</td>
                                <td>Safari 3.0</td>
                                <td>OSX.4+</td>
                                <td class="center">522.1</td>
                                <td class="center">A</td>
                            </tr>
                            <tr class="gradeA">
                                <td>Webkit</td>
                                <td>OmniWeb 5.5</td>
                                <td>OSX.4+</td>
                                <td class="center">420</td>
                                <td class="center">A</td>
                            </tr>
                            <tr class="gradeA">
                                <td>Webkit</td>
                                <td>iPod Touch / iPhone</td>
                                <td>iPod</td>
                                <td class="center">420.1</td>
                                <td class="center">A</td>
                            </tr>
                            <tr class="gradeA">
                                <td>Webkit</td>
                                <td>S60</td>
                                <td>S60</td>
                                <td class="center">413</td>
                                <td class="center">A</td>
                            </tr>
                            <tr class="gradeA">
                                <td>Presto</td>
                                <td>Opera 7.0</td>
                                <td>Win 95+ / OSX.1+</td>
                                <td class="center">-</td>
                                <td class="center">A</td>
                            </tr>
                            <tr class="gradeA">
                                <td>Presto</td>
                                <td>Opera 7.5</td>
                                <td>Win 95+ / OSX.2+</td>
                                <td class="center">-</td>
                                <td class="center">A</td>
                            </tr>
                            <tr class="gradeA">
                                <td>Presto</td>
                                <td>Opera 8.0</td>
                                <td>Win 95+ / OSX.2+</td>
                                <td class="center">-</td>
                                <td class="center">A</td>
                            </tr>
                            <tr class="gradeA">
                                <td>Presto</td>
                                <td>Opera 8.5</td>
                                <td>Win 95+ / OSX.2+</td>
                                <td class="center">-</td>
                                <td class="center">A</td>
                            </tr>
                            <tr class="gradeA">
                                <td>Presto</td>
                                <td>Opera 9.0</td>
                                <td>Win 95+ / OSX.3+</td>
                                <td class="center">-</td>
                                <td class="center">A</td>
                            </tr>
                            <tr class="gradeA">
                                <td>Presto</td>
                                <td>Opera 9.2</td>
                                <td>Win 88+ / OSX.3+</td>
                                <td class="center">-</td>
                                <td class="center">A</td>
                            </tr>
                            <tr class="gradeA">
                                <td>Presto</td>
                                <td>Opera 9.5</td>
                                <td>Win 88+ / OSX.3+</td>
                                <td class="center">-</td>
                                <td class="center">A</td>
                            </tr>
                            <tr class="gradeA">
                                <td>Presto</td>
                                <td>Opera for Wii</td>
                                <td>Wii</td>
                                <td class="center">-</td>
                                <td class="center">A</td>
                            </tr>
                            <tr class="gradeA">
                                <td>Presto</td>
                                <td>Nokia N800</td>
                                <td>N800</td>
                                <td class="center">-</td>
                                <td class="center">A</td>
                            </tr>
                            <tr class="gradeA">
                                <td>Presto</td>
                                <td>Nintendo DS browser</td>
                                <td>Nintendo DS</td>
                                <td class="center">8.5</td>
                                <td class="center">C/A<sup>1</sup>
                                </td>
                            </tr>
                            <tr class="gradeC">
                                <td>KHTML</td>
                                <td>Konqureror 3.1</td>
                                <td>KDE 3.1</td>
                                <td class="center">3.1</td>
                                <td class="center">C</td>
                            </tr>
                            <tr class="gradeA">
                                <td>KHTML</td>
                                <td>Konqureror 3.3</td>
                                <td>KDE 3.3</td>
                                <td class="center">3.3</td>
                                <td class="center">A</td>
                            </tr>
                            <tr class="gradeA">
                                <td>KHTML</td>
                                <td>Konqureror 3.5</td>
                                <td>KDE 3.5</td>
                                <td class="center">3.5</td>
                                <td class="center">A</td>
                            </tr>
                            <tr class="gradeX">
                                <td>Tasman</td>
                                <td>Internet Explorer 4.5</td>
                                <td>Mac OS 8-9</td>
                                <td class="center">-</td>
                                <td class="center">X</td>
                            </tr>
                            <tr class="gradeC">
                                <td>Tasman</td>
                                <td>Internet Explorer 5.1</td>
                                <td>Mac OS 7.6-9</td>
                                <td class="center">1</td>
                                <td class="center">C</td>
                            </tr>
                            <tr class="gradeC">
                                <td>Tasman</td>
                                <td>Internet Explorer 5.2</td>
                                <td>Mac OS 8-X</td>
                                <td class="center">1</td>
                                <td class="center">C</td>
                            </tr>
                            <tr class="gradeA">
                                <td>Misc</td>
                                <td>NetFront 3.1</td>
                                <td>Embedded devices</td>
                                <td class="center">-</td>
                                <td class="center">C</td>
                            </tr>
                            <tr class="gradeA">
                                <td>Misc</td>
                                <td>NetFront 3.4</td>
                                <td>Embedded devices</td>
                                <td class="center">-</td>
                                <td class="center">A</td>
                            </tr>
                            <tr class="gradeX">
                                <td>Misc</td>
                                <td>Dillo 0.8</td>
                                <td>Embedded devices</td>
                                <td class="center">-</td>
                                <td class="center">X</td>
                            </tr>
                            <tr class="gradeX">
                                <td>Misc</td>
                                <td>Links</td>
                                <td>Text only</td>
                                <td class="center">-</td>
                                <td class="center">X</td>
                            </tr>
                            <tr class="gradeX">
                                <td>Misc</td>
                                <td>Lynx</td>
                                <td>Text only</td>
                                <td class="center">-</td>
                                <td class="center">X</td>
                            </tr>
                            <tr class="gradeC">
                                <td>Misc</td>
                                <td>IE Mobile</td>
                                <td>Windows Mobile 6</td>
                                <td class="center">-</td>
                                <td class="center">C</td>
                            </tr>
                            <tr class="gradeC">
                                <td>Misc</td>
                                <td>PSP browser</td>
                                <td>PSP</td>
                                <td class="center">-</td>
                                <td class="center">C</td>
                            </tr>
                            <tr class="gradeU">
                                <td>Other browsers</td>
                                <td>All others</td>
                                <td>-</td>
                                <td class="center">-</td>
                                <td class="center">U</td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- /.table-responsive -->
                    <div class="well">
                        <h4>DataTables Usage Information</h4>
                        <p>DataTables is a very flexible, advanced tables plugin for jQuery. In SB Admin, we are using a specialized version of DataTables built for Bootstrap 3. We have also customized the table headings to use Font Awesome icons in place of images. For complete documentation on DataTables, visit their website at <a target="_blank" href="https://datatables.net/">https://datatables.net/</a>.</p>
                        <a class="btn btn-default btn-lg btn-block" target="_blank" href="https://datatables.net/">View DataTables Documentation</a>
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Kitchen Sink
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Username</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>@fat</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-6 -->
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Basic Table
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Username</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>@fat</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-6 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Striped Rows
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Username</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>@fat</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-6 -->
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Bordered Table
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="table-responsive table-bordered">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Username</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>@fat</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-6 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Hover Rows
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Username</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>@fat</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-6 -->
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Context Classes
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Username</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="success">
                                    <td>1</td>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                </tr>
                                <tr class="info">
                                    <td>2</td>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>@fat</td>
                                </tr>
                                <tr class="warning">
                                    <td>3</td>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                                <tr class="danger">
                                    <td>4</td>
                                    <td>John</td>
                                    <td>Smith</td>
                                    <td>@jsmith</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-6 -->
    </div>
    <!-- /.row -->

{% endblock %}

;        </div>
;        <!-- /#page-wrapper -->
;
;    </div>
;    <!-- /#wrapper -->
;
;    <!-- jQuery -->
;    <script src="/static/javascripts/jquery.min.js"></script>
;
;    <!-- Bootstrap Core JavaScript -->
;    <script src="/static/javascripts/bootstrap.min.js"></script>
;
;    <!-- Metis Menu Plugin JavaScript -->
;    <script src="/static/javascripts/metisMenu.min.js"></script>
;
;    <!-- DataTables JavaScript -->
;    <script src="/static/javascripts/jquery.dataTables.min.js"></script>
;    <script src="/static/javascripts/dataTables.bootstrap.min.js"></script>
;    <script src="/static/javascripts/dataTables.responsive.js"></script>
;
;    <!-- Custom Theme JavaScript -->
;    <script src="/static/javascripts/sb-admin-2.js"></script>
;
;    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
;    <script>
;    $(document).ready(function() {
;        $('#dataTables-example').DataTable({
;            responsive: true
;        });
;    });
;    </script>
;
;</body>
;
;</html>
