{% extends "layouts/application.haml" %}
{% block body %}

    %div.row
        %div.col-lg-12
            %h1.page-header << Астрал Контест

    %div.row
        %div.col-lg-12
        Астрал Контест — это сервис для онлайн-проверки заданий по программированию. Он предназначен для проведения тестирования любого уровня. На текущий момент времени можно проводить тестирование только на языке Python
        %br

        Решения проверяются автоматически — с помощью набора тестов, составленных авторами заданий. Участники отправляют свои решения в тестирующую систему, а та выдает результат. Сервис способен одновременно обрабатывать несколько заданий, поэтому легко выдержит нагрузку в более чем тысячу участников.
        %br

        Если вы хотите провести тестирование на базе Астрал Контеста, напишите на krupenin@astralnalog.ru.
        %br

{% endblock %}
