{% extends "layouts/application.haml" %}
{% block body %}
    %div.row
        %div.col-lg-12
            %h2.page-header << Астрал Контест

    %div.row style='width: 100%'
        %div.col-lg-3
        %div.col-lg-6

            %form action="{{ url_for('sessions_create') }}" method="post"

                %div.form-group
                    %label class="control-label" for="email" << Введите ваш E-mail
                    %input class="form-control" id="email" name="email" type="text" value=""

                %div.form-group
                    %input.right.btn.btn-primary name="commit" type="submit" value="Отправить письмо"
        %div.col-lg-3

{% endblock %}
