{% extends "layouts/application.haml" %}
{% block body %}

    %div.row
        %div.col-lg-1
        %div.col-lg-10
            %h2.page-header << {{ test.contest.name }}


    %div.col-lg-7.col-lg-offset-1
        %div.row
            %div.col-lg-12
                %h2.page-header << {{ problem.name }}

        %div.row
            %div.col-lg-12
                = problem.text


        %form  action method="POST"
            %div.row
                %div.col-lg-12
                    %label << Введите ваше решение
                    %textarea.form-control rows="10" style='resize: vertical;' id="solution" name="solution"
            %div.row
                %div.col-lg-2.col-lg-offset-10
                    %br
                    %input.btn.btn-primary.form-control name="commit" type="submit" value="Отправить"





    %div.col-lg-3
        %div.panel.panel-default
            %div.panel-heading
                %i.fa.fa-bell.fa-fw
                Список задач
            %div.panel-body
                -for problem in problems:
                    %a href="/tests/{{ test.id }}/problem/{{problem.id}}" class="list-group-item"
                        %i.fa

                        = problem['name']
                        %span.pull-right.text-muted.small style='color: #f00'
                            %i.fa.fa-check
                            ОК\ER


            %div.panel-heading
                %i.fa.fa-bell.fa-fw
                Информация о тестировании
            %div.panel-body
                    %a href="#" class="list-group-item"
                        Начало
                        %span.pull-right.text-muted.small
                            %em << 01.01.2018 10:10:10

                    %a href="#" class="list-group-item"
                        Окончание
                        %span.pull-right.text-muted.small
                            %em << 01.01.2018 10:10:10

{% endblock %}