{% extends "layouts/application.haml" %}
{% block body %}

    %div.row
        %div.col-lg-1
        %div.col-lg-10
            %h2.page-header << {{ test.contest.name }}

    -if not test.started_at:
        %div.row
            %div.col-lg-10.col-lg-offset-1
                Тестирование еще не началось, для старта нажмине "Начать тестирование".
                %br
                %b
                    Внимание!
                Тестирование ограничено по времени. Посде окончания времени, вы сможете продолжить тестирование, но решения не пойдут в зачет.
        %div.row
            %div.col-lg-6.col-lg-offset-3
                %br
                %a.btn.btn-primary.btn-lg.btn-block href='/tests/{{ test.id }}/start'
                    Начать тестирование

{% endblock %}
